extends ../includes/layout-main

block content
	.row
		.offset3.span6
			form.form-horizontal(method="POST")
				fieldset.well
					legend #{method == 'save' ? 'Edit User' : 'Create User'}
					
					if method == 'save'
						.control-group
							label.control-label Object Id
							.controls
								code.input-xlarge.objectid #{user._id}
							
					.control-group
						label.control-label(for="email") Email Address
						.controls
							input.input-xlarge(id="email", name="email", type="text", placeholder="Email Address", value=user.email)
							
					.control-group
						label.control-label(for="firstname") First Name
						.controls
							input.input-xlarge(id="firstname", name="firstname", type="text", placeholder="First Name", value=user.name.first)
					
					.control-group
						label.control-label(for="lastname") Last Name
						.controls
							input.input-xlarge(id="lastname", name="lastname", type="text", placeholder="Last Name", value=user.name.last)					
					
					if method == 'save'
						.control-group
							label.control-label(for="registered_date") Created
							.controls
								input.input-xlarge(id="registered_date", name="registered_date", type="text", placeholder="Created Date\Time", value=dateFormat(user.registered_date, 'dd/mm/yyyy HH:MM:ss'))
								
					.control-group
						label.control-label(for="password") Password
						.controls
							input.input-xlarge(id="password", name="password", type="password", placeholder="Password", autocomplete="off")
					
					.control-group
						label.control-label(for="password2") Repeat Password
						.controls
							input.input-xlarge(id="password2", name="password2", type="password", placeholder="Repeat Password", autocomplete="off")
							if method == 'save'
								.p.help-block Fill both password boxes to change. They are ignored otherwise.
							
							
					.form-actions
						input(type="submit", value="Save User").btn.btn-primary.btn-large
						&nbsp;
						a.btn.btn-large(href="/users") Cancel
						
if method == 'save'
	block scripts
		script.
			$(function() {$('#registered_date').datetimepicker({showSecond: true, timeFormat: 'hh:mm:ss'});})