
extends ../layout-main
include ../includes/paginate
 
block content
	table.table.table-striped.table-bordered.table-condensed
		tr
			th Name
			th Last Name
			th First Name
			th Email Address
			th Object Id
			th Edit
		
		for user in users
			tr
				td #{user.name.abbr}
				td #{user.name.last}
				td #{user.name.first}
				td #{user.email}
				td
					code #{user._id}
				td
					a(href="/user/" + user._id + "/edit") Edit
					
	.row
		.span11
			mixin paginate("/users/", page, page_count)
		.span1
			a(href="/user/create") Create User
				