!!! 5
html
	head
		title #{config.title} - #{config.site_name}
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="Matt Crossley")
	
		each css_file in config.css_files
			link(rel="stylesheet", type='text/css', href=css_file)
			
		block css
			
		//if lt IE 8
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		
		block head
		
	body

		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="/") Admin Tools
					if config.logged_in

						ul.nav
							li.dropdown
								a(href="#", data-toggle="dropdown").dropdown-toggle
									i.icon-hdd
									|  Data
									spam.caret
								ul.dropdown-menu
									li
										a(href="/users")
											i.icon-user
											|  Manage Users
									
							li.dropdown
								a(href="#", data-toggle="dropdown").dropdown-toggle
									i.icon-tasks
									|  Tools
									span.caret
								ul.dropdown-menu
									li
										a(href="/purge")
											i.icon-ban-circle
											|  Purge Caches
							li
								a(href="/logout")
									i.icon-off
									| Log Out
						form.navbar-search.pull-right
							input(type="text", class="search-query", placeholder="Search")
									
	
			
		.container
			
			if (msgs = flash_errs()) && !!msgs.length
				.row
					.offset1.span10
						.alert.alert-error
							ul
								each msg in msgs
									li!= msg
			
			if (msgs = flash_msgs()) && !!msgs.length
				.row
					.offset1.span10
						.alert.alert-info
							ul
								each msg in msgs
									li!= msg
			

			
		
			block content				
						
			hr

			footer
				p &copy; Company 2012
							
		each js_file in config.js_files
			script(type="text/javascript", src=js_file)
			
		block scripts
		
		if config.NODE_ENV == 'production'
			include ../includes/google.html