!!! 5
html
	head
		title #{config.title} - #{config.site_name}
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="Matt Crossley")
	
		each css_file in config.css_files
			link(rel="stylesheet", type='text/css', href=versionPath(config.static_url + '/css/' + css_file))
			
		block css
			
		//if lt IE 8
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		
		block head
		
	body

		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="/") Admin Tools
					if config.logged_in
					
						ul.nav
							li
								a(href="/mongo")
									i.icon-info-sign.icon-white
									|  MongoDB
							li.dropdown
								a(href="#", data-toggle="dropdown").dropdown-toggle
									i.icon-tasks.icon-white
									|  Tools
									b.caret
								ul.dropdown-menu
									li
										a(href="/users")
											i.icon-user
											|  Manage Users
									li
										a(href="/purge")
											i.icon-ban-circle
											|  Purge Caches
						ul.nav.pull-right
							li
								a(href="/logout") Log Out
									

						
			
		.container
			
			if !!flash_errs.length
				.row
					.offset1.span10
						.alert.alert-error
							ul
								each msg in flash_errs
									li!= msg
			
			if !!flash_msgs.length
				.row
					.offset1.span10
						.alert.alert-info
							ul
								each msg in flash_msgs
									li!= msg
			

			
		
			block content				
						
			hr

			footer
				p &copy; Company 2012
							
		each js_file in config.js_files
			script(type="text/javascript", src=versionPath(config.static_url + '/js/' + js_file))
			
		block scripts